@inject NavigationManager Navigation

<nav class="catalog-topbar navbar navbar-expand-md">
	<div class="container-fluid">
		<div class="container-fluid" style="max-width: 300px">
			<a class="navbar-brand text-light text-wrap text-left" href="cataloghome">
				Biblioteka Szkoły Podstawowej nr 123 w&nbsp;Testach
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
				aria-controls="navbarCollapse" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

        <div class="collapse navbar-collapse text-nowrap justify-content-end" id="navbarCollapse">
            <div class="d-flex flex-column align-items-end">
                <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-row">
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item">
                                <NavLink class="nav-link p-2 text-light " href="Account/Manage">
                                    Witaj, @context?.User?.Identity?.Name
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="" />
                                    <button type="submit" class="nav-link btn btn-success text-light">
                                        <span class="bi bi-arrow-bar-left-nav-menu text-light"></span> Wyloguj
                                    </button>
                                </form>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item">
                                <NavLink class="nav-link btn btn-success text-light" href="Account/Login">
                                    <span class="bi bi-person-badge-nav-menu text-light"></span> Zaloguj
                                </NavLink>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>

                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item mx-2 text-light">
                        <div class="nav-link">
                            <i class="bi bi-type text-light"></i>
                        </div>
                    </li>
                    <li class="nav-item mx-2 text-light">
                        <div class="nav-link">
                            <i class="bi bi-highlights text-light"></i>
                        </div>
                       
                    </li>
                    <li class="nav-item mx-2 text-light">
                        <div class="nav-link">
                            <i class="bi bi-palette-fill text-light"></i>
                        </div>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                    <li class="nav-item mx-2 text-light">
                        <NavLink class="nav-link text-light" href="/cart">
                            <span class="bi bi-cart3 text-light"></span> Koszyk
                        </NavLink>
                    </li>
                    <li class="nav-item mx-2 text-light">
                        <NavLink class="nav-link text-light" href="/order/list">
                            <span class="bi bi-card-list text-light"></span> Półka
                        </NavLink>

                    </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
	</div>
</nav>

@code {

}
