<div class="card shadow border-0 m-4" style="max-width:1366px;">
    <div class="d-flex justify-content-center p-4 gap-3">
        <a class="btn btn-outline-primary" aria-current="Strona główna" href="/cataloghome">Strona główna</a>
        <a class="btn btn-outline-primary" href="/cataloghome/catalog">Katalog</a>
        <a class="btn btn-outline-primary" href="#">Lektury</a>
        <a class="btn btn-outline-primary" href="#">Podręczniki</a>
        <a class="btn btn-outline-primary" href="#">Polecane</a>
    </div>

    <div class="d-flex justify-content-center">
        <div class="card-body p-4" style="max-width: 800px; width: 100%;">
            <div class="d-flex align-items-center">
                <!-- Obrazek po lewej stronie -->
                <img class="books-icon me-4" alt="Symbol katalogu" src="/images/book-open-solid.svg" width="96">

                <!-- Tytuł i wyszukiwarka po prawej stronie -->
                <div class="flex-grow-1">
                    <h1 class="mb-3">Katalog Online</h1>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
@code {

}
