@inject NavigationManager NavigationManager

<div class="catalog-navbar navbar navbar-expand-md">
    <div class="container-fluid">
            <a class="d-flex align-items-center" href="/" style="max-width: 320px">
                    <img src="/images/school-logo.png" class="img-thumbnail" style="max-width:64px"/>
            <span class="text-light text-wrap text-center"> Biblioteka Szkoły Podstawowej \n nr&nbsp;123 \n w&nbsp;Testach</span>
            </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-nowrap justify-content-end" id="navbarCollapse">
            <div class="d-flex flex-column align-items-end">
                <ul class="navbar-nav mb-2 mb-md-0 d-flex flex-row">
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item">
                                <a class="nav-link p-2 text-light " href="Account/Manage">
                                    Witaj, @context?.User?.Identity?.Name
                                </a>
                            </li>
                            <li class="nav-item">
                                <form action="Account/Logout" method="post">
                                    <AntiforgeryToken />
                                    <input type="hidden" name="ReturnUrl" value="" />
                                    <button type="submit" class="nav-link btn btn-primary text-light">
                                        <span class="bi bi-arrow-bar-left-nav-menu text-light"></span> Wyloguj
                                    </button>
                                </form>
                            </li>
                        </Authorized>
                        <NotAuthorized>
                            <li class="nav-item">
                                <a class="nav-link btn btn-primary text-light" href="Account/Login">
                                    <span class="bi bi-person-badge-nav-menu text-light"></span> Zaloguj
                                </a>
                            </li>
                        </NotAuthorized>
                    </AuthorizeView>
                </ul>

                <ul class="navbar-nav d-flex flex-row">
                    <li class="nav-item mx-2 text-light">
                        <div class="nav-link">
                            <i class="bi bi-type text-light"></i>
                        </div>
                    </li>
                    <li class="nav-item mx-2 text-light">
                        <div class="nav-link">
                            <i class="bi bi-highlights text-light"></i>
                        </div>

                    </li>
                    <li class="nav-item mx-2 text-light">
                        <div class="nav-link">
                            <i class="bi bi-palette-fill text-light"></i>
                        </div>
                    </li>
                    <AuthorizeView>
                        <Authorized>
                            <li class="nav-item mx-2 text-light">
                                <a class="nav-link text-light" href="/cart">
                                    <span class="bi bi-cart3 text-light"></span> Koszyk
                                </a>
                            </li>
                            <li class="nav-item mx-2 text-light">
                                <a class="nav-link text-light" href="/order/list">
                                    <span class="bi bi-card-list text-light"></span> Półka
                                </a>

                            </li>
                        </Authorized>
                    </AuthorizeView>
                </ul>
            </div>
        </div>
    </div>
</div>

@code {

}
