<div>
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <a class="nav-link active" aria-current="Strona główna" href="#">Strona główna</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Katalog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Lektury</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Podręczniki</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Polecane</a>
        </li>
    </ul>

    <div class="container flex-fill">
        <div>
            <img class="books-icon" alt="Symbol katalogu" src="/images/book-open-solid.svg" width="200">
        </div>

        <div class="container flex-column">
            <p>Katalog Online</p>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>
@code {

}
