@page "/cataloghome"

<div class="strona-glowna">
    <div class="navbar-kat">
        <div class="logo-szkola">
            <img class="image-1-icon" alt="" src="/images/school-solid.svg">

            <div class="szkoa-podstawowa-nr-container">
                <p class="szkoa-podstawowa-nr">Szkoła Podstawowa nr 123</p>
                <p class="szkoa-podstawowa-nr">im. Adama Mickiewicza</p>
                <p class="szkoa-podstawowa-nr">w Testach</p>
            </div>
        </div>

        <div class="user">
            <div class="top">
                <div class="user-account">
                     <i class="bi bi-person-circle"></i> Zaloguj się
                </div>
            </div>
            <div class="user-account">
                <div class="icon">
                    <img class="dribbble-light-preview-icon" alt="" src="/images/contrast-907-svgrepo-com.svg">

                </div>
                <div class="text-font-size-svgrepo-com-2">
                    <img class="product-icons" alt="" src="/images/text-font-size-svgrepo-com.svg">

                </div>
            </div>
        </div>

    </div>
    <div class="scroll">
        <div class="main-content">
            <div class="katalog-online">
                <div class="menu">
                    <div class="buttons">
                        <b class="submenu">Strona główna</b>
                    </div>
                    <div class="buttons">
                        <b class="submenu">Katalog</b>
                    </div>
                    <div class="buttons">
                        <b class="submenu">Lektury</b>
                    </div>
                    <div class="buttons">
                        <b class="submenu">Podręczniki</b>
                    </div>
                    <div class="buttons">
                        <b class="submenu">Polecane</b>
                    </div>
                </div>
                <div class="tytul-parent">
                    <div class="tytul">
                        <img class="books-icon" alt="" src="/images/book-open-solid.svg">

                        <b class="submenu">Katalog Online</b>
                    </div>
                    <div class="search-bar">
                        <div class="wyszukaj-wrapper">
                            <div class="submenu">Wyszukaj...</div>
                        </div>
                        <div class="search-icon">
                            <img class="icon" alt="" src="/images/magnifying-glass-solid.svg">

                        </div>
                    </div>
                </div>
            </div>
            <div class="polecane">
                <div class="tytul1">
                    <b class="polecane1">Polecane</b>
                </div>
                <div class="page-previous-parent">
                    <div class="page-previous">
                        <img class="icon1" alt="" src="/images/square-caret-left-solid.svg">

                    </div>
                    <div class="elementy">
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie-container">
                                <span>
                                    <p class="szkoa-podstawowa-nr">Harry Potter </p>
                                    <p class="szkoa-podstawowa-nr">i Kamień Filozoficzny</p>
                                </span>
                            </div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Alicja w Krainie Czarów. Wydanie ilustrowane</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Tajemniczy ogród</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Opowieści z Narnii. Lew, czarownica i stara szafa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Zielone piórko Zbigniewa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">W 80 dni dookoła świata</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Biuro dzieci znalezionych</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Drzewo życzeń</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Las szeptów</div>
                        </div>
                    </div>
                    <div class="page-previous">
                        <img class="icon2" alt="" src="/images/square-caret-right-solid.svg">

                    </div>
                </div>
            </div>
            <div class="polecane">
                <div class="tytul1">
                    <b class="polecane1">Nowości w katalogu biblioteki</b>
                </div>
                <div class="page-previous-parent">
                    <div class="page-previous">
                        <img class="icon1" alt="" src="/images/square-caret-left-solid.svg">

                    </div>
                    <div class="elementy">
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Magiczne drzewo. Czerwone Krzesło</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Drzewo życzeń</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Zielone piórko Zbigniewa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Las szeptów</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Zielone piórko Zbigniewa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Biuro dzieci znalezionych</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Biuro dzieci znalezionych</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Drzewo życzeń</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Las szeptów</div>
                        </div>
                    </div>
                    <div class="page-previous">
                        <img class="icon2" alt="" src="/images/square-caret-right-solid.svg">

                    </div>
                </div>
            </div>
            <div class="polecane">
                <div class="tytul1">
                    <b class="polecane1">Najczęściej wypożyczane</b>
                </div>
                <div class="page-previous-parent">
                    <div class="page-previous">
                        <img class="icon1" alt="" src="/images/square-caret-left-solid.svg">

                    </div>
                    <div class="elementy">
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie-container">
                                <span>
                                    <p class="szkoa-podstawowa-nr">Harry Potter </p>
                                    <p class="szkoa-podstawowa-nr">i Kamień Filozoficzny</p>
                                </span>
                            </div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Pan Tadeusz</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Akademia Pana Kleksa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Opowieści z Narnii. Lew, czarownica i stara szafa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Zielone piórko Zbigniewa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">W pustyni i w puszczy</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Biuro dzieci znalezionych</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Drzewo życzeń</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Las szeptów</div>
                        </div>
                    </div>
                    <div class="page-previous">
                        <img class="icon2" alt="" src="/images/square-caret-right-solid.svg">

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-kat">
            <div class="wypelnienie">
                <div class="buttons5">
                    <b class="submenu">Czyszczenie pamięci</b>
                </div>
            </div>
            <div class="system-2025-katalog-online-parent">
                <div class="system-2025-">System 2025 - katalog online - dostęp dla czytelników bibliotek szkolnych</div>
                <div class="normal-parent">
                    <div class="normal">
                        <div class="normal1">
                            <b class="normal2">KONTAKT</b>
                        </div>
                    </div>
                    <div class="normal">
                        <div class="normal1">
                            <b class="normal2">POMOC</b>
                        </div>
                    </div>
                    <div class="normal">
                        <div class="normal1">
                            <b class="normal2">MAPA STRONY</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
