@page "/cataloghome"

<!--Menu główne i searchbar-->
<CatalogNavbar></CatalogNavbar>
<!--Body-->
<div class="strona-glowna">
    <div class="scroll">
        <div class="main-content">
            <div class="polecane">
                <div class="tytul1">
                    <b class="polecane1">Polecane</b>
                </div>
                <div class="page-previous-parent">
                    <div class="page-previous">
                        <img class="icon1" alt="" src="/images/square-caret-left-solid.svg">

                    </div>
                    <div class="elementy">
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie-container">
                                <span>
                                    <p class="szkoa-podstawowa-nr">Harry Potter </p>
                                    <p class="szkoa-podstawowa-nr">i Kamień Filozoficzny</p>
                                </span>
                            </div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Alicja w Krainie Czarów. Wydanie ilustrowane</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Tajemniczy ogród</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Opowieści z Narnii. Lew, czarownica i stara szafa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Zielone piórko Zbigniewa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">W 80 dni dookoła świata</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Biuro dzieci znalezionych</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Drzewo życzeń</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Las szeptów</div>
                        </div>
                    </div>
                    <div class="page-previous">
                        <img class="icon2" alt="" src="/images/square-caret-right-solid.svg">

                    </div>
                </div>
            </div>
            <div class="polecane">
                <div class="tytul1">
                    <b class="polecane1">Nowości w katalogu biblioteki</b>
                </div>
                <div class="page-previous-parent">
                    <div class="page-previous">
                        <img class="icon1" alt="" src="/images/square-caret-left-solid.svg">

                    </div>
                    <div class="elementy">
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Magiczne drzewo. Czerwone Krzesło</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Drzewo życzeń</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Zielone piórko Zbigniewa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Las szeptów</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Zielone piórko Zbigniewa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Biuro dzieci znalezionych</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Biuro dzieci znalezionych</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Drzewo życzeń</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Las szeptów</div>
                        </div>
                    </div>
                    <div class="page-previous">
                        <img class="icon2" alt="" src="/images/square-caret-right-solid.svg">

                    </div>
                </div>
            </div>
            <div class="polecane">
                <div class="tytul1">
                    <b class="polecane1">Najczęściej wypożyczane</b>
                </div>
                <div class="page-previous-parent">
                    <div class="page-previous">
                        <img class="icon1" alt="" src="/images/square-caret-left-solid.svg">

                    </div>
                    <div class="elementy">
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie-container">
                                <span>
                                    <p class="szkoa-podstawowa-nr">Harry Potter </p>
                                    <p class="szkoa-podstawowa-nr">i Kamień Filozoficzny</p>
                                </span>
                            </div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Pan Tadeusz</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Akademia Pana Kleksa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Opowieści z Narnii. Lew, czarownica i stara szafa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Zielone piórko Zbigniewa</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">W pustyni i w puszczy</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Biuro dzieci znalezionych</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Drzewo życzeń</div>
                        </div>
                        <div class="element-books-list">
                            <img class="element-books-list-child" alt="" src="/images/harrypotter-kamien.png">

                            <div class="harry-potter-i-kamie">Las szeptów</div>
                        </div>
                    </div>
                    <div class="page-previous">
                        <img class="icon2" alt="" src="/images/square-caret-right-solid.svg">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

}
