@inherits LayoutComponentBase
@layout MainLayout

<div class="d-flex flex-column min-vh-100">
    <CatalogNavbar/>

    <div class="w-100 mb-4">
        <div class="mx-auto px-3 catalog-width">
            <CatalogSearchBar/>
            @Body
        </div>
    </div>

    <CatalogFooter />
</div>