@inherits LayoutComponentBase
@layout BibliotekaSzkolnaBlazor.Components.Layout.MainLayout

<ManageNavbar />

 <div class="w-100">
     <div class="mx-auto px-3 manage-width">
         <div class="card shadow border-0 m-4 ">
            @Body
        </div>
    </div>
</div>
