@page "/Account/Manage/Bookings"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Identity
@using BibliotekaSzkolnaBlazor.Data

@inject UserManager<ApplicationUser> UserManager
@inject SignInManager<ApplicationUser> SignInManager
@inject IdentityUserAccessor UserAccessor
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ChangePassword> Logger

<PageTitle>Historia wypożyczeń</PageTitle>

<StatusMessage />
<h3>Historia wypożyczeń</h3>

        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-sm text-nowrap">
                <thead>
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Tytuł</th>
                        <th>Autor</th>
                        <th>Data wypożyczenia</th>
                        <th>Data zwrotu</th>
                        <th>Prolongata</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>

                            <td>1.</td>

                            <td>
                                <a href="/lektury/view/1" class="btn btn-outline-primary btn-sm">
                                    <i class="bi bi-info-square"></i>
                                </a>
                            </td>
                        <td>Harry Potter i Kamień Filozoficzny</td>
                        <td>Rowling, Joanne K.</td>
                            <td>2025-06-12</td>
                            <td>2025-06-30</td>
                            <td><button>Przedłuż</button></td>
                        </tr>
                </tbody>
            </table>
        </div>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
