@page "/konto/zarzadzanie"

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Components.Authorization
@using BibliotekaSzkolnaBlazor.Data
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Konto czytelnika</PageTitle>

<h3>Dane czytelnika</h3>

<div class="row">
    <div class="col-xl-6">
        <div class="form-floating mb-3">
            <input type="text" value="@user?.LibraryId" id="libraryid" class="form-control" disabled />
            <label for="libraryid" class="form-label">Numer karty</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" value="@username" id="username" class="form-control" disabled />
            <label for="username" class="form-label">Nazwa użytkownika</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" value="@user?.FirstName" id="firstname" class="form-control" disabled />
            <label for="firstname" class="form-label">Imię</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" value="@user?.LastName" id="lastname" class="form-control" disabled />
            <label for="lastname" class="form-label">Nazwisko</label>
        </div>
    </div>
</div>

@code {
    private ApplicationUser? user;
    private string? username;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var claimsUser = authState.User;

        if (claimsUser.Identity?.IsAuthenticated == true)
        {
            user = await UserManager.GetUserAsync(claimsUser);
            username = await UserManager.GetUserNameAsync(user);
        }
    }
}
