@inherits LayoutComponentBase
@layout BibliotekaSzkolnaBlazor.Components.Layout.MainLayout

<CatalogNavbar/>

<div class="w-100">
    <div class="mx-auto px-3 catalog-width">
        <h1> Zarządzanie kontem</h1>
<div>
    <div class="row">
        <div class="col-lg-3">
            <ManageNavMenu />
        </div>
        <div class="col-lg-9">
            @Body
        </div>
    </div>
</div>
</div>
</div>
