@page "/konto/odmowa-dostepu"

<PageTitle>Odmowa dostępu</PageTitle>

<header>
    <h1 class="text-danger">Odmowa dostępu</h1>
    <p class="text-danger">Nie posiadasz dostępu do tej strony.</p>
</header>
